@font-face {
  font-family: "BBHBogle-Regular";
  src: url("../fonts/BBHBogle-Regular.ttf");
}

main{
    padding: 50px;
    color: var(--text-secondary);
        line-height: 25px;
}
h1,h2{
    margin-bottom: 10px;
}
main p{
    font-family: "LibreBaskerville";
    /* font-size: larger; */
    text-indent: 15px;
}
ul{
    font-family: "LibreBaskerville";
    /* font-size: larger; */
}
div{
    /* display: inline; */
}
.text{
background-image: url(../images/book-pile-of-must-read-books-scaled1.jpg);
/* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsmi93MSf9YdgjakEqUxp4pUWe6zzAH-TDzw&s); */
    width: 100%;
    height: 200px;
    background-clip: text;
    color: #5e473678;
    text-align: center;
    /* margin: auto; */
    font-size: 100px;
    /* align-items: center; */
    margin-bottom: 0;
    font-family: "BBHBogle-Regular";
    /* font-weight: bold; */
    background-position: bottom;
    background-position-x: left;
    /* background-position-y: bottom; */
    text-box: auto;
    /* color: black; */
    background-size: contain;
}