@keyframes animation {
  from{
    opacity: 0;
    padding-top: 0;
  }
  to{
    opacity: 1;
    padding-top: 30px;
  }
}

/* h1 {
  margin-bottom: 30px;
  color: var(--text-secondary);
} */

main {
  padding: 30px;
  padding-top: 0;
  opacity: 0;
    animation-duration: 1s;
  animation-name: animation;
  animation-fill-mode: forwards;
  /* overflow: hidden; */
}
.books {
    padding: 1.5;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    gap: 1.5em;
}
h1{
    color: var(--text-secondary);
    padding-left: 20px;
}

/* .card {
    transition: 0.1s ease;
    padding: 8px 8px 0px 15px;
}

.card:hover {
    transition: 1s ease;
    transform: scale(1.1);
} */