:root {
  /* الخلفية: بيج فاتح */
  --bg-color: #ffffff;
  /* خلفية الهيدر و الفوتر فقط: ابيض */
  --bg-color-header-footer: #dadada;
  /* خلفية اللاندينج: بني عامق */
  --bg-color-landing: #6a422a;
  /* البطاقات: أبيض دافئ */
  --card-bg: #FFFFFF;
  /* النصوص الأساسية: بني داكن جداً */
  --text-primary: #746042;
  /* النصوص الثانوية: بني رمادي */
  --text-secondary: #5c5a58;
  /*بني نحاسي */
  --accent-color: #8D6E63;
  /* الازرار */
  --btn: #5c5a58;
  /* الخطوط */
  --font-heading: 'Amiri', serif;
  --font-body: 'Cairo', sans-serif;
}
.transparent-btn {
  color: #746042;
  padding: 5px 15px;
  text-decoration: none;
}

.transparent-btn:hover {
  border-bottom: 2px solid var(--accent-color);
  transition-duration: 400ms;
}

.solid-btn {
  padding: 5px 15px;
  background-color: var(--btn);
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 400ms ease;
}

.solid-btn:hover {
  transform: scale(1.1);
  box-shadow: #8d6e63 0px 0px 6px 0px;
}