.landingpage {
  background-color: var(--bg-color-landing);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px;
  color: #ffffff;
  border-radius: 0px 0px 50px 50px;
}
.landing_text {
  padding: 7px;
}
.trendy-container {
  padding: 5px 15px;
  margin:15px 0px 0px 0px;
}
.trendy_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0px 0px 15px 0px;
}
.trendy_header span {
  color: var(--text-secondary);
  text-transform: uppercase;
}
.trendy_header h1 {
  margin: 0px;
color: var(--text-primary);
}
.trendy-cards-container {
  display: flex;
}
.card{
  margin:45px;
  background-color: #676665fb;
  border-radius: 25px;
}
.card:hover {
  transition: 1s ease;
  transform: scale(1.1);
}
.card-info {
  color: #ffffff;
  padding: 10px;
  margin: 0px;
}
.card-info img {
  border-radius: 25px 25px 0px 0px;
}