body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.SignIn-form-container {
    color: rgb(120, 64, 24);
    border: 5px solid rgb(120, 64, 24);
    max-width: 370px;
    min-height: 250px;
    width: 90%;
    padding: 100px;
    background-color: var(--bg--bg-color);
    border-radius: 8px;
    text-align: center;
    margin-bottom: 100px;
}
.SignIn-form-container button {
    margin: 15px 0px 0px 0px;    
}